* {margin: 0; padding: 0; box-sizing: border-box; outline: 0;}

.table-container { border-collapse: collapse; }


td { border: 1px solid #d9d9d9; padding: 0.5em; }

th  { background: #1565C0; color: white; padding: 0.5em; border: 1px solid #1565C0; }

.flex-row { text-align: center; }

@media only screen and (max-width: 767px) {
    th, td { width: auto; display: block; border: 0; }

    th { border-left: solid 1px #1565C0; border-right: solid 1px #1565C0; border-bottom: solid 1px #1565C0; }

    td { border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; border-bottom: solid 1px #d9d9d9; }
}