.Header {
    background: #293b8f;
}

.Header .header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.Header .logo img {
    width: 50px;
    content: url('../../images/logo.png');
}

.Header .nav {
    color: #fff;
    font-weight: 600;
}

.Header .nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0 -17px;
    padding-left: 0;
    padding-bottom: 0;
    list-style-type: none;
}

.Header .nav ul li {
    margin: 0 17px;
}
.Header .nav ul > span {
    display: flex;
}


.Header .nav ul li a {
    color: #7ce228;
    transition: color .5s ease;
}

.Header .nav ul li a:hover, .Header .nav ul li a.active {
    color: #fff;
}