.Header {
    padding: 10px 0;
    background: #293b8f;
}

.Header .header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.Header .logo .img-container {
    max-width: 65%;
}

.Header .nav {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.Header .nav ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-bottom: 0;
    list-style-type: none;
}

.Header .nav ul li {
    margin: 0 17px;
}

.Header p {
    padding-bottom: 0;
    font-size: 19px;
    order: 2;
    color: #a7a2a2;
    font-style: italic;
}

.Header .nav ul > span {
    display: flex;
}

.Header .nav ul li a {
    color: #fff;
    transition: color .5s ease;
}

.Header .nav ul li a:hover, .Header .nav ul li a.active {
    color: #7ce228;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .Header p {
        display: none;
    }

}

@media (min-width: 769px) {
    .navigation__toggle-button {
        display: none;
    }
}